@import url("https://fonts.googleapis.com/css2?family=Geologica:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --font-sans: "Geograph", system-ui, sans-serif;
  --font-serif: "Self Modern", ui-serif, serif;
  --font-mono: "Akkurat Mono", ui-monospace, monospace;
  --color-red-500: oklch(63.7% 0.237 25.331);
  --color-red-700: oklch(50.5% 0.213 27.518);
  --color-yellow-50: oklch(98.7% 0.026 102.212);
  --color-yellow-500: oklch(79.5% 0.184 86.047);
  --color-yellow-700: oklch(55.4% 0.135 66.442);
  --color-yellow-800: oklch(47.6% 0.114 61.907);
  --color-yellow-900: oklch(42.1% 0.095 57.708);
  --color-green-500: oklch(72.3% 0.219 149.579);
  --color-blue-500: oklch(62.3% 0.214 259.815);
  --color-blue-600: oklch(54.6% 0.245 262.881);
  --color-gray-100: oklch(96.7% 0.003 264.542);
  --color-gray-200: oklch(92.8% 0.006 264.531);
  --color-gray-300: oklch(87.2% 0.01 258.338);
  --color-gray-400: oklch(70.7% 0.022 261.325);
  --color-gray-500: oklch(55.1% 0.027 264.364);
  --color-gray-600: oklch(44.6% 0.03 256.802);
  --color-gray-700: oklch(37.3% 0.034 259.733);
  --color-gray-900: oklch(21% 0.034 264.665);
  --color-neutral-300: oklch(87% 0 0);
  --color-neutral-500: oklch(55.6% 0 0);
  --color-neutral-600: oklch(43.9% 0 0);
  --color-neutral-800: oklch(26.9% 0 0);
  --color-neutral-900: oklch(20.5% 0 0);
  --color-black: #212121;
  --color-white: #fff;
  --spacing: 0.25rem;
  --container-sm: 24rem;
  --container-md: 28rem;
  --container-lg: 32rem;
  --container-2xl: 42rem;
  --container-3xl: 48rem;
  --container-4xl: 56rem;
  --container-5xl: 64rem;
  --container-7xl: 80rem;
  --text-xs: 0.75rem;
  --text-xs--line-height: calc(1 / 0.75);
  --text-sm: 0.875rem;
  --text-sm--line-height: calc(1.25 / 0.875);
  --text-base: 1rem;
  --text-base--line-height: 1.5;
  --text-lg: 1.125rem;
  --text-lg--line-height: calc(1.75 / 1.125);
  --text-xl: 1.25rem;
  --text-xl--line-height: calc(1.75 / 1.25);
  --text-2xl: 1.5rem;
  --text-2xl--line-height: calc(2 / 1.5);
  --text-3xl: 1.875rem;
  --text-3xl--line-height: 1.2;
  --text-4xl: 2.25rem;
  --text-4xl--line-height: calc(2.5 / 2.25);
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --tracking-wide: 0.025em;
  --tracking-wider: 0.05em;
  --tracking-widest: 0.1em;
  --leading-tight: 1.25;
  --leading-normal: 1.5;
  --leading-relaxed: 1.625;
  --radius-sm: 0.25rem;
  --radius-md: 0.375rem;
  --radius-lg: 0.5rem;
  --radius-xl: 0.75rem;
  --radius-2xl: 1rem;
  --radius-3xl: 1.5rem;
  --ease-out: cubic-bezier(0, 0, 0.2, 1);
  --ease-in-out: cubic-bezier(0.4, 0, 0.2, 1);
  --animate-spin: spin 1s linear infinite;
  --blur-xs: 4px;
  --blur-sm: 8px;
  --blur-md: 12px;
  --blur-2xl: 40px;
  --default-transition-duration: 0.15s;
  --default-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --default-font-family: var(--font-sans);
  --default-mono-font-family: var(--font-mono);
  --radius: 20px;
  --color-natural-white: #e0dacf;
  --color-natural-white-60: #ece9e2;
  --color-natural-white-60-0\.5: #ece9e250;
  --color-midnight: #03143b;
  --color-charcoal: #52525b;
  --color-light-charcoal: #575757;
  --color-light-charcoal-0\.3: #57575730;
  --color-red: #9c0f0f;
  --color-stroke: #cdcdcd;
  --color-khaki: #443828;
  --color-green: #10714e;
  --global-banner-height: 32px;
  --ease-sine-in: cubic-bezier(0.12, 0, 0.39, 0);
  --ease-sine-out: cubic-bezier(0.61, 1, 0.88, 1);
  --ease-sine-in-out: cubic-bezier(0.37, 0, 0.63, 1);
  --clip-path-pill-skewed: url(
    data:image/svg + xml,
    %3CsvgviewBox="0 0 693 693"xmlns="http://www.w3.org/2000/svg"%3E%3Cpathd="M614.454 461.719L461.719 614.454C356.153 720.02 184.741 720.02 79.175 614.454C-26.392 508.888 -26.392 337.476 79.175 231.909L231.91 79.174C337.476 -26.392 508.888 -26.392 614.454 79.174C720.02 184.74 720.02 356.153 614.454 461.719Z"/%3E%3C/svg%3E
  );
  --text-fluid-xs: clamp(0.7rem, 0.6627rem + 0.312vw, 0.884rem);
  --text-fluid-sm: clamp(0.875rem, 0.7991rem + 0.5443vw, 1.25rem);
  --text-fluid-md: clamp(1.0938rem, 0.9573rem + 0.8988vw, 1.7675rem);
  --text-fluid-lg: clamp(1.3672rem, 1.1379rem + 1.4323vw, 2.4992rem);
  --text-fluid-xl: clamp(1.709rem, 1.3394rem + 2.2266vw, 3.5339rem);
  --z-background: -10;
  --z-base: 0;
  --z-content: 10;
  --z-swiper-button: 10;
  --z-filter-dropdown: 40;
  --z-floating-widget: 50;
  --z-navigation-content: 70;
  --z-header: 80;
  --z-global-banner: 85;
  --z-takeover: 90;
}
html,
body {
  width: 100%;
  height: 4000px;
  font-size: 10px;
  box-sizing: border-box;
}

.main-header {
  .free-shipping {
    font-size: 1.3rem;
    padding: 0.6rem;
  }
  .main-nav {
    width: 98%;
    margin: 20px;
    .nav-logo2 {
      width: 74px;
      scale: 0.8;
    }
    .nav-categories {
      font-family: "Geologica", system-ui, sans-serif !important;
      font-weight: 600;
    }
    .nav-about-us {
      font-family: "Geologica", system-ui, sans-serif !important;
      font-weight: 300;
      font-size: 1.2rem;
    }
  }
}
.video-hero {
  height: 80vh; /* take 50% of viewport height */
  object-fit: cover; /* make it nicely cover the box */
}
